<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <title>ISLA - Fashion second hand marketplace price extractor</title>
    <link rel="stylesheet" href="/css/results_style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      let queryId = "<%= QueryId %>"
      let apiServer = "<%= API_Server %>"
    </script>
  </head>

  <body>
    <h1>Welcome on the ISLA's Fashion second hand price exctractor</h1>
    <br>
    <h2 id="UserMsg">The scraper is running, please wait!</h2>
    <table id="resultTable"></table>



    <script type="application/javascript" src="js/results.js"></script>
  </body>
</html>
